<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399815438965-2th1e60hdo1s8096af8mh3j0q49mlsbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399815438965-2th1e60hdo1s8096af8mh3j0q49mlsbr</string>
	<key>API_KEY</key>
	<string>AIzaSyCA5SIUyJk3pAeHKTI5ZXpNqXuIu4YTITk</string>
	<key>GCM_SENDER_ID</key>
	<string>399815438965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.usysr</string>
	<key>PROJECT_ID</key>
	<string>food-truck-finder-91dc0</string>
	<key>STORAGE_BUCKET</key>
	<string>food-truck-finder-91dc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:399815438965:ios:3dee974e47b94b2ffebe3c</string>
	<key>DATABASE_URL</key>
	<string>https://food-truck-finder-91dc0.firebaseio.com</string>
</dict>
</plist>
